.beliefs {
 display: block;
 width: 95%;
 text-align: center;
}
.p-text{
 margin: 0.5rem;
 font-size: 16px;
 text-align: center;
}
.h-text{
    font-family: Cinzel;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.pic{
 width: 60%;
 height: 30vh;
 margin: 0.4rem;
}
.beliefs-main {
 font-family: sans-serif;   
 display: block;
 width: 90%;
 margin: auto;
 padding: 1rem;
}

.text-h2 {
 font-size: 25px;
 font-weight: bold;
 font-family: sans-serif;
 color: rgb(39, 38, 38);
}
.text-p2{
color: dimgrey;
font-size: 18px;
font-weight: 100;
}

@media (min-width: 600px) {
    .beliefs {
        display: flex;
        margin: 3rem auto;
        
    }
    .h-text {
        font-size: 40px;
    }
    .p-text {
        font-size: 20px;
    }
    .pic{
        margin: 1rem;
    }
}