.footer-section {
 display: block;
 background: rgba(57, 58, 61, 0.938);
 width: 90%;
 margin: auto;
 color: rgb(165, 165, 165);
 padding-top: 6px;
}

.footer-main  {
    width: 95%;
     margin: auto;
    height: 8rem;
    line-height: 20px;
}

.footer-sub {
    width: 95%;
    margin: auto;
   height: 8rem;
   line-height: 20px;
}

.footer-links {
    width: 95%;
    margin: auto;
   height: 12rem;
   line-height: 20px;
}

.footer-support {
    width: 95%;
    margin: auto;
   height: 10rem;
   line-height: 20px;
}
.section-end {
    display: block;
    height: 2rem;
    background: rgb(66, 62, 62);
    text-align: center;
}

.end__sec {
    height: 4rem;
}

h4 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 0.6rem;
}

p {
    margin: 0;
    font-size: 16px;
}

span {
    color: white;
}


@media (min-width: 768px) { 
    .footer-section {
        display: flex;
        height: 18rem;
    }
    .footer-main {
        width: 25%;
        height: 14rem;
    }
    .footer-links {
        width: 25%;
        height: 14rem;
    }
    .footer-sub {
        width: 25%;
        height: 14rem;
    }
    .footer-support{
        width: 25%;
        height: 14rem;
    }
}