.contact {
    width: 100%;
    height: 80vh;
    background-image: url('../../../Images/praise.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
