.contact {
    width: 100%;
    height: 80vh;
    background-image: url('../../../Images/praise.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact img {
    width: 100%;
    height: 100vh;
}


.contact-title{ 
    height: 4rem;
    font-size: 30px;
    text-align: center;
    padding: 1rem 0 0 0;
    color: #ffffff;
}
.contact-form {
    border: 1px solid rgb(0, 110, 255);
    text-align: center;
    width: 60%;
    color: rgb(30, 14, 252);;
    background: rgba(255, 255, 255, 0.808);
    margin: 0 auto;
    height: 75%;
}

.contact-form input{
    font: inherit;
    width: 65%;
    display: block;
    padding: 0.5rem 1.5rem;
    border: 1px solid #807d7d;
    background: #e0ced457;
    cursor: pointer;
    margin: 0.6rem auto;
}

.contact-form input:hover, 
.contact-form input:active {
    border: 1px solid rgb(0, 38, 255);
    background: rgba(0, 174, 255, 0.61);
}

.contact-form textarea {
    height: 55px;
    width: 65%;
    display: block;
    padding: 0.5rem 1.5rem;
    border: 1px solid #807d7d;
    background: #e0ced457;
    cursor: pointer;
    margin: 0.6rem auto;
}
.contact-form textarea:hover,
.contact-form textarea:active {
    border: 1px solid rgb(0, 38, 255);
    background: rgba(0, 174, 255, 0.61);

}


@media (min-width: 650px) { 
 .contact-title{
     height: 7rem;
     padding: 4rem 0 0 0;
 }
}

