
.event-header {
    text-align: center;
    margin: 1rem;
}

.content-section {
   justify-content: center;
   text-align: center;
   height: 77vh;
   overflow: auto;
   background-color: #ffffff;
}


@media (min-width: 700px) {
 .content-section {
     height: 70vh;
 }
 
}